@charset "UTF-8";

header.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #f0f0f0;
	background-color: #151535;
	padding: 1rem;
	margin: 0 0 1rem 0;
}

header.header a {
	color:white;
	text-decoration: none;
}

header.header .header_title {
	font-size: 2rem;
}

header.header nav ul {
	display: flex;
	margin: 0;
}

header.header nav ul li {
	padding: 0.5rem 1rem;
}
