@charset "UTF-8";

:root { 
	--color-primary: #DE596C;
	--color-sub: #DE6A59;
	--color-info: #DE8259;
	--color-activ: #DE9959;
	--color-hover: #DEABA3;
}

div.scheduleCalendar {
	margin: auto;
}

div.scheduleCalendar .btn-primary {
	background-color: var(--color-primary);
	border:none;
}