<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.team.mapper.ReservationMapper">	

	<!-- Insert 예약 등록 쿼리 작성->DB에 예약 데이터 삽입 -->
	<insert id="insert" parameterType="org.team.dto.ReservationDTO">
	    INSERT INTO customer 
	    (rdate, cname, cphone, address, category, model, issue, detail, visitdate, pinformation)
	    VALUES 
	    (#{rdate}, #{cname}, #{cphone}, #{address}, #{category}, #{model}, #{issue}, #{detail}, #{visitdate}, #{pinformation})
	</insert>

	
</mapper>